# National Health and Nutrition Examination Survey (NHANES)
[https://wwwn.cdc.gov/nchs/nhanes/](https://wwwn.cdc.gov/nchs/nhanes/)

Este laboratório usará dados extraídos do NHANES.

## NHANES datasets from 2013-2014

Foram extraídos dados do [NHANES 2013-2014](https://wwwn.cdc.gov/nchs/nhanes/continuousnhanes/default.aspx?BeginYear=2013).

Os dados estão disponíveis em arquivos CSV no diretório `/data/nhanes`. Lá está disponível a documentação do esquema dos arquivos.

# Tarefa 1 - Esquema Relacional

Analise os arquivos CSV que estão no diretório `/data/nhanes` e escreva um esquema relacional referente às tabelas, suas chaves primárias e estrangeiras (não é SQL ainda). Coloque a chave primária com dois underlines antes e dois depois:

\__teste\__

Person( __id__ , gender, age )

Drug( __code__ , name )

DrugUse( person_id, drug_code, days_use )

- person_id: CHE para Person
- drug_code: CHE para DrugUse

## Criação das Tabelas em SQL e Importação de Dados

Considere o seguinte exemplo em que é criada uma tabela em SQL e importado dados do arquivo CSV `demographic-person.csv`.

In [1]:
%defaultDatasource jdbc:h2:mem:db

In [2]:
CREATE TABLE Pessoa (
  Id VARCHAR(5) NOT NULL,
  Gender INTEGER,
  Age INTEGER,
  PRIMARY KEY(Id)
) AS SELECT
    id,
    gender,
    age
FROM CSVREAD('../data/demographic-person.csv');

In [3]:
SELECT * FROM Pessoa;

# Tarefa 2 - Criação das Tabelas em SQL e Importação de Dados

Escreva instruções SQL para montar as duas tabelas restante, conforme definido no esquema relacional da **Tarefa 1**.

**Importante:** não defina chave primária para a tabela de uso de medicamento.

Durante a criação das tabelas, realize a importação dos dados do arquivo CSV nas tabelas criadas, conforme exemplo anterior.

### Tabela de medicamentos

In [4]:
CREATE TABLE MEDICAMENTO (
    Code VARCHAR(6) NOT NULL,
    Name VARCHAR(60) NOT NULL,
    PRIMARY KEY (Code)
) AS SELECT 
    code,
    name
FROM CSVREAD('../data/medications-drug.csv');

In [5]:
SELECT * FROM MEDICAMENTO;

### Tabela de uso de medicações

In [6]:
CREATE TABLE USO_DE_MEDICAMENTO (
    Person_id INTEGER NOT NULL,
    Drug_code VARCHAR(6) NOT NULL,
    Days_use INTEGER,
) AS SELECT 
    person_id,
    drug_code,
    days_use
FROM CSVREAD('../data/medications-use.csv');

In [7]:
SELECT * FROM USO_DE_MEDICAMENTO

# Tarefa 3 - Consultas Simples

Execute as consultas a seguir.

a) Liste pessoas com idade acima de 60

In [8]:
SELECT * FROM PESSOA
WHERE AgE >= 60;

b) Liste as idades das pessoas cadastradas (sem repetições)

In [9]:
SELECT DISTINCT Age FROM Pessoa;

c) Liste código das pessoas, idade, código dos medicamentos que usaram e dias de uso

In [10]:
SELECT USO_MED.person_id, P.age, USO_MED.drug_code, USO_MED.days_use
    FROM USO_DE_MEDICAMENTO AS USO_MED, PESSOA AS P
    WHERE USO_MED.person_id = P.Id

d) Liste código das Pessoas, idade, nome dos medicamentos que usaram e quantos dias de uso

In [14]:
SELECT USO_MED.person_id, P.age, MED.Name,USO_MED.days_use
    FROM USO_DE_MEDICAMENTO AS USO_MED, MEDICAMENTO AS MED, PESSOA AS P
    WHERE USO_MED.person_id = P.Id AND USO_MED.drug_code = MED.code
    ORDER BY USO_MED.person_id

e) Liste nome dos medicamentos que foram usados por pessoas (sem repetições)

In [18]:
SELECT DISTINCT MED.Name 
    FROM USO_DE_MEDICAMENTO AS USO_MED, MEDICAMENTO AS MED
    WHERE USO_MED.drug_code = MED.code
    ORDER BY MED.Name ASC

f) Liste nome dos medicamentos usados por mais de 2.000 dias (sem repetições)

In [21]:
SELECT DISTINCT MED.Name
    FROM USO_DE_MEDICAMENTO AS USO_MED, MEDICAMENTO AS MED
    WHERE USO_MED.drug_code = MED.code AND USO_MED.days_use > 2000
    ORDER BY MED.Name ASC